<template #content let-c="close" let-d="dismiss">
  <form #registerForm="ngForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
      <h3 class="modal-title">Register New Device</h3>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <div [hidden]="step != 1">
          <div class="form-group" [ngClass]="{'has-error': organization.errors && (organization.dirty || organization.touched)}">
            <label for="organization">Organization</label>
            <select name="organization" class="form-control" [(ngModel)]="device.organization" #organization="ngModel" required>
              <option *ngFor="let organization of organizations | async" [ngValue]="organization">{{organization}}</option>
            </select>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label>
                <input type="radio" name="sensorNetwork" [(ngModel)]="device.sensorNetwork" value="false">
                Dexen Telemetry Module
              </label>
            </div>
            <div class="col-md-6">
              <label>
                <input type="radio" name="sensorNetwork" [(ngModel)]="device.sensorNetwork" value="true">
                Sensor Network
              </label>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': profile.errors && (profile.dirty || profile.touched)}">
            <label for="profile">Profile</label>
            <select name="profile" class="form-control" [(ngModel)]="device.profile" #profile="ngModel" required>
              <option *ngIf="authService.isDexenAdmin">-- Create Custom Profile --</option>

              <option *ngFor="let profile of profiles | async" [ngValue]="profile">{{profile.name}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group" [ngClass]="{'has-error': device.modser == '' && device.prodser == ''}">
                <label for="modser">Module Serial Number</label>
                <input type="text" class="form-control" placeholder="Module Serial Number" name="modser" [(ngModel)]="device.modser" #modser="ngModel">
              </div>
            </div>
            <div class="col-md-2 text-centered">
              Or
            </div>
            <div class="col-md-5">
              <div class="form-group" [ngClass]="{'has-error': device.modser == '' && device.prodser == ''}">
                <label for="prodser">Product Serial Number</label>
                <input type="text" class="form-control" placeholder="Product Serial Number" name="prodser" [(ngModel)]="device.prodser" #prodser="ngModel">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group" [ngClass]="{'has-error': custname.errors && (custname.dirty || custname.touched)}">
                <label for="custname">Customer name</label>
                <input type="text" class="form-control" placeholder="Customer Name" name="custname" [(ngModel)]="device.custname" #custname="ngModel" required>
              </div>
            </div>
            <div class="col-md-2 text-centered">
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="servtech">Assign Service Technician</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': modelname.errors && (modelname.dirty || modelname.touched)}">
                <label for="modelname">Model name</label>
                <input type="text" class="form-control" placeholder="Model Name" name="modelname" [(ngModel)]="device.modelname" #modelname="ngModel" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': modelnumber.errors && (modelnumber.dirty || modelnumber.touched)}">
                <label for="modelnumber">Model number</label>
                <input type="text" class="form-control" placeholder="Model Number" name="modelnumber" [(ngModel)]="device.modelnumber" #modelnumber="ngModel" required>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="step != 2">
          <div class="form-group" [ngClass]="{'has-error': street1.errors && (street1.dirty || street1.touched)}">
            <label for="street1">Address</label>
            <input type="text" class="form-control" placeholder="Street" name="street1" [(ngModel)]="device.address.street1" #street1="ngModel" required>
          </div>

          <div class="form-group" [ngClass]="{'has-error': street2.errors && (street2.dirty || street2.touched)}">
            <input type="text" class="form-control" placeholder="Street (cont.)" name="street2" [(ngModel)]="device.address.street2" #street2="ngModel">
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': city.errors && (city.dirty || city.touched)}">
                <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="device.address.city" #city="ngModel" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': country.errors && (country.dirty || country.touched)}">
                <select name="country" class="form-control" [(ngModel)]="device.address.country" #country="ngModel" required>
                  <option value="" disabled>Country</option>
                  <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': state.errors && (state.dirty || state.touched)}">
                <select name="state" class="form-control" [(ngModel)]="device.address.state" #state="ngModel" required>
                  <option value="" disabled>State</option>
                  <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': zip.errors && (zip.dirty || zip.touched)}">
                <input type="text" class="form-control control-sm" placeholder="Zip" name="zip" [(ngModel)]="device.address.zip" #zip="ngModel" required [pattern]="zipRegex">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': email.errors && (email.dirty || email.touched)}">
                <label for="email">Customer Email</label>
                <input type="text" validate-email class="form-control" placeholder="Customer Email" name="email" [(ngModel)]="device.email" #email="ngModel" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error': phone.errors && (phone.dirty || phone.touched)}">
                <label for="phone">Customer Mobile</label>
                <input type="text" class="form-control control-md" placeholder="(xxx) xxx-xxxx or xxxxxxxxxx" name="phone" [(ngModel)]="device.phone" #phone="ngModel" required [pattern]="phoneRegex">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label>
                <input type="checkbox" [(ngModel)]="device.sendEmail" name="sendEmail"> &nbsp; Notify by Email
              </label>
            </div>

            <div class="col-md-6">
              <label>
                <input type="checkbox" [(ngModel)]="device.sendSms" name="sendSms"> &nbsp; Notify by SMS
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group" [ngClass]="{'has-error': email.errors && (email.dirty || email.touched)}">
                <label for="fupload">Device Image</label>
                <upload-image id="fupload" (imageSelected)="imageSelected($event)" [imageBase64]="device.imageURL"></upload-image>
              </div>
            </div>
            <div class="col-md-8">
              <img *ngIf="device.imageURL" src="{{device.imageURL}}" style="max-height: 100px;">
              <div *ngIf="!device.imageURL" style="color: red">-- No image. The image is required --</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c()">Cancel</button>
      <button *ngIf="step == 1" type="button" class="btn btn-default" (click)="next()">Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>
      <button *ngIf="step == 2" type="button" class="btn btn-default" (click)="prev()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous</button>
      <button *ngIf="step == 2 && device.profile != '-- Create Custom Profile --'" type="button" class="btn btn-primary" [disabled]="(modser == '' && prodser == '') || device.imageURL == '' || !registerForm.form.valid" (click)="save()">Save</button>
      <button *ngIf="step == 2 && device.profile == '-- Create Custom Profile --'" type="button" class="btn btn-primary" [disabled]="(modser == '' && prodser == '') || device.imageURL == '' || !registerForm.form.valid" (click)="save()">Next...</button>
    </div>
  </form>
</template>
