#waiting-circle {
  background: url(/assets/images/loading.gif);
  background-repeat: no-repeat;
  background-size: contain; 
  width: inherit;
  height: inherit;
  min-width: 20px;
  min-height: 20px;
}