<template #content let-c="close" let-d="dismiss">
  <form #loginForm="ngForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title">Login</h3>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <div class="form-group" [ngClass]="{'has-error': email.errors && (email.dirty || email.touched)}">
          <label for="email">Email</label>
          <input type="email" validate-email class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required>
        </div>
        <div class="form-group" [ngClass]="{'has-error': password.errors && (password.dirty || password.touched)}">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
        </div>
        <div class="form-group">
          <a (click)="forgot()">Forgot your username/password?</a>
        </div>
        <div class="form-group">
          <a (click)="register()">Don't have an account?</a>
        </div>
        <div class="form-group" *ngIf="error != ''">
          <span class="error">{{error}}</span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="c()">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="login()">Login</button>
    </div>
  </form>
</template>
