<div id="banner" class="row">
	<div class="col-xs-12" style="height: 600px; margin-top: 4%">
		<h1 class="bold lPadding">Dexen Telemetry</h1>
		<hr style="margin-bottom: 0px">
		<div class="col-xs-12 lPadding" style="height: 400px">
			<div class="col-lg-4 noPadding vCenter">
				<h1 class="light">Monitor your equipment remotely via the web.</h1>
				<h1 class="light">Save time and gain peace of mind.</h1>
			</div>
			<img src="assets/images/dashboard_screenshot.jpg" id="dashboard" class="img-responsive">
		</div>
		<hr>
		<div id="bannerIcons" class="col-xs-12 lPadding">
			<img src="assets/images/icon_industrial.png" class="img-responsive" style="margin-left: 0px">
			<img src="assets/images/icon_hardwareModule.png" class="img-responsive">
			<img src="assets/images/icon_wifi.png" class="img-responsive">
			<img src="assets/images/icon_cloudDash.png" class="img-responsive">
		</div>
	</div>
</div>
<div id="services" class="row blueBg">
	<div class="col-lg-8 col-lg-offset-2 col-sm-offset-2 col-sm-8 vPadding">
		<h1 class="text-center semi">Services</h1>
		<hr>
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="assets/images/icon_dataLogging.png" class="img-responsive center-block">
				<h3 class="semi">Data-Logging</h3>
				<p class="light">Monitor your appliances remotely</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="assets/images/icon_diagnostics.png" class="img-responsive center-block">
				<h3 class="semi">Diagnostics</h3>
				<p class="light">Create custom warnings</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="assets/images/icon_metering.png" class="img-responsive center-block">
				<h3 class="semi">Metering</h3>
				<p class="light">Monitor gas usage at an appliance level</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12"> 
				<img src="assets/images/icon_hardwareKit.png" class="img-responsive center-block">
				<h3 class="semi">Hardware Kit</h3>
				<p class="light">We provide sensors &amp; the wireless module</p>
			</div>	
		</div>
	</div>
</div>
<div id="how_it_works" class="row">
	<div class="col-lg-8 col-lg-offset-2 col-sm-offset-2 col-sm-8 col-xs-12 vPadding">
		<h1 class="text-center semi">How it Works</h1>
		<hr>
	</div>
	<section class="se-container">
		<div class="se-slope se-slope-blue blueBg">
			<article class="se-content">
				<h1 class="semi">Choose the measurements you need</h1>
				<h1 class="light">Figure out what measurements you need. We provide many different types of sensors to get the job done.</h1>
			</article>
		</div>
		<div class="se-slope se-slope-white">
			<article class="se-content">
				<div id="measurement_trace_1" class="col-xs-6">
					<img src="assets/images/measurement_trace_1.png" class="img-responsive center-block">
				</div>
				<div id="measurement_trace_2" class="col-xs-6">
					<img src="assets/images/measurement_trace_2.png" class="img-responsive center-block">
				</div>
			</article>
		</div>
		<div class="se-slope se-slope-white">
			<article class="se-content" style="margin: 10px 100px 25px 100px">
				<img src="assets/images/hardware_trace_1.png" class="img-responsive center-block">
			</article>
		</div>
		<div class="se-slope se-slope-blue blueBg">
			<article class="se-content">
				<h1 class="semi">Install our Hardware Kit</h1>
				<h1 class="light">Simply install the sensors into the location you want to measure in your appliance.</h1>
			</article>
		</div>
		<div class="se-slope se-slope-blue blueBg">
			<article class="se-content">
				<h1 class="semi">Connect our wireless module to your Wi-Fi</h1>
				<h1 class="light">Wi-Fi setup is done though your web browser. All you need is the Wi-Fi network.</h1>
			</article>
		</div>
		<div class="se-slope se-slope-white">
			<article class="se-content">
				<div class="col-xs-6">
					<img src="assets/images/wireless_trace_1.png" class="img-responsive">
				</div>
				<div class="col-xs-6">
					<img src="assets/images/wireless_trace_2.png" class="img-responsive">
				</div>
			</article>
		</div>
		<div class="se-slope se-slope-white">
			<article class="se-content">
				<div class="col-xs-6">
					<img src="assets/images/monitor_trace_1.png" class="img-responsive">
				</div>
				<div class="col-xs-6">
					<img src="assets/images/monitor_trace_2.png" class="img-responsive">
				</div>
			</article>
		</div>
		<div class="se-slope se-slope-blue blueBg">
			<article class="se-content">
				<h1 class="semi">Monitor your appliance online</h1>
				<h1 class="light">View your appliance data remotely and receive failure alerts via email or SMS</h1>
			</article>
		</div>
	</section>
	<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 vPadding">
		<hr>
		<h1 class="text-center semi">It's that Easy!</h1>
	</div>
</div>
<div class="row blueBg vPadding">
	<h1 class="text-center semi">Demo our System</h1>
	<hr style="width: 66.66666667%">
	<div id="accountLabels" class="col-xs-4 col-xs-offset-1">
		<h3 class="light text-right">username:</h3>
		<h3 class="light text-right">password:</h3>
	</div>
	<div id="accountDetails" class="col-xs-6">
		<h3 class="light text-left">dexentelemeterydemo@gmail.com</h3>
		<h3 class="light text-left">1oTd#mo</h3>
	</div>
	<button class="col-lg-2 col-lg-offset-5 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 bt-button" (click)="tryitnow()">Try it Now</button>
</div>
<div id="contact" class="row">
	<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 vPadding">
		<h1 class="text-center semi">Contact Us</h1>
		<hr>
		<h2 class="text-center light">Have any questions or would like to start a project with us?</h2>
		<!-- <a href="mailto:info@dexen.com"> 
			<img src="assets/images/icon_email.png" class="img-responsive center-block" style="margin-top: 80px;">
		</a>
		<a href="mailto:info@dexen.com" class="text-center light"><h3>Email</h3></a> -->
	</div>
	<div class="container contact-us">
		<form #ContactForm="ngForm"  novalidate>
		    <div class="messages-data" *ngIf="messageRes">
		    	<div class="row">
		            <div class="col-md-12">
		             	<div class="form-group" >
		    				<ngb-alert [type]="alert.type">{{alert.message}}</ngb-alert>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="controls">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="form-group" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
		                    <label for="form_name">Name *</label>
		                    <input id="form_name" type="text" name="name" class="form-control" [(ngModel)]="user.Name" #name="ngModel" required="required" data-error="Firstname is required.">
		                    <div class="help-block with-errors"></div>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12">
		                <div class="form-group" [ngClass]="{'has-error': email.errors && (email.dirty || email.touched)}">
		                    <label for="form_email">Email *</label>
		                    <input id="form_email" type="email" name="email" class="form-control"  [(ngModel)]="user.Email" #email="ngModel" required="required">
		                    <div class="help-block with-errors"></div>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12">
		                <div class="form-group" [ngClass]="{'has-error': subject.errors && (subject.dirty || subject.touched)}">
		                    <label for="form_email">Subject *</label>
		                    <input id="form_email" type="email" name="subject" class="form-control"  [(ngModel)]="user.Subject" #subject="ngModel" required="required" data-error="Valid email is required.">
		                    <div class="help-block with-errors"></div>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12">
		                <div class="form-group" [ngClass]="{'has-error': comment.errors && (comment.dirty || comment.touched)}">
		                    <label for="form_message">Comment</label>
		                    <textarea id="form_message" name="comment" class="form-control" placeholder="" rows="4" required="required" data-error="Please,leave us a message." [(ngModel)]="user.Comment" #comment="ngModel"></textarea>
		                    <div class="help-block with-errors"></div>
		                </div>
		            </div>
		            <div class="col-md-12">
		                <input type="button" class="btn btn-success btn-send" [disabled]="!ContactForm.form.valid" (click)="sendMessage(user)" value="Send message">
		            </div>
		        </div>
		    </div>
		</form>
	</div>
</div>